In [64]:
import pandas
# Store the raw data
team_name = 'Monaco'
raw_data = pandas.DataFrame(pandas.read_csv('F1.csv'),columns=['HomeTeam','AwayTeam','FTHG','FTAG'])
home_results = raw_data.groupby(['HomeTeam']).get_group(team_name)
away_results = raw_data.groupby(['AwayTeam']).get_group(team_name)
# All results sorted by index
all_results = home_results.append(away_results).sort_index()

In [71]:
all_results.sort_index()

        HomeTeam     AwayTeam  FTHG  FTAG
0         Monaco         Lyon     0     3
14          Metz       Monaco     3     0
24        Monaco        Nimes     2     2
38    Strasbourg       Monaco     2     2
49        Monaco    Marseille     3     4
56         Reims       Monaco     0     0
61        Monaco         Nice     3     1
74        Monaco        Brest     4     1
84   Montpellier       Monaco     3     1
98        Monaco       Rennes     3     2
100       Nantes       Monaco     0     1
118   St Etienne       Monaco     1     0
122       Monaco        Dijon     1     0
136     Bordeaux       Monaco     2     1
155     Toulouse       Monaco     1     2
160       Monaco       Amiens     3     0
170       Angers       Monaco     0     0
179       Monaco        Lille     5     1
196     Paris SG       Monaco     3     3
199       Monaco     Paris SG     1     4
203       Monaco   Strasbourg     1     3
215        Nimes       Monaco     3     1
221       Monaco       Angers     1     0
232       Amiens       Monaco     1     2
240       Monaco  Montpellier     1     0
254        Dijon       Monaco     1     1
264       Monaco        Reims     1     1
274         Nice       Monaco     2     1